<mat-progress-spinner
  *ngIf="loading"
  [color]="'accent'"
  [mode]="'indeterminate'">
</mat-progress-spinner>

<div *ngIf="!loading">
    SpecCode: {{fish.SpecCode}}
    <fish-icon [iconType]="'water-salinity'" [saltwater]="fish.Saltwater" [brakish]="fish.Brakish"></fish-icon>
    <fish-icon [iconType]="'vulnerability'" [vulnerability]="fish.Vulnerability"></fish-icon>
    <fish-icon [iconType]="'length'" [length]="fish.Length"></fish-icon>
    <fish-icon [iconType]="'weight'" [weight]="fish.Weight"></fish-icon>
</div>

<div>
  <a matTooltip="Opens google images" mat-button target="_blank" href="{{getGoogleImagesLink()}}">Google Images</a>
</div>

<div>
  <img class="fish-image" *ngIf="fish.PicLink" src="{{fish.PicLink}}" alt="{{fish.Genus + fish.Genus}}">
  <img class="fish-image no-image" *ngIf="!fish.PicLink" src="/assets/images/no_fish_image.png" alt="N/A">
</div>

<div>
  Custom Fish Database:
  <br/>
  <button mat-button *ngIf="customFishData" (click)="removeCustomFishData()" color="accent">Delete</button>
  <button mat-button *ngIf="!customFishData" (click)="addCustomFishData()" color="accent">Add</button>
  <button mat-button *ngIf="customFishData" (click)="overideCustomFishData()" color="warm">Override</button>
</div>

