
<div *ngIf="fish"
     class="fish-info"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="20px"
     fxFlexFill>

  <div fxFlex="260px" fxFlex.sm="100">
    <div>
      <img class="fish-image" *ngIf="fish.PicLink" src="{{fish.PicLink}}" alt="{{fish.Genus + fish.Genus}}">
      <img class="fish-image" *ngIf="!fish.PicLink" src="https://cdn.dribbble.com/users/372537/screenshots/2094822/icons_km_fish.gif" alt="N/A">
    </div>
    <div>
      <a matTooltip="Opens google images" mat-button target="_blank" href="{{getGoogleImagesLink()}}">Google Images</a>
    </div>

  </div>

  <div fxFlex="70" fxFlex.sm="100">
    <div>

    </div>
    <fish-icon [iconType]="'water-salinity'" [value]="fish.saltwater"></fish-icon>
    <fish-icon [iconType]="'vulnerability'" [value]="fish.Vulnerability"></fish-icon>
    <div>
      <p class="comments">{{fish.Comments}}</p>
    </div>
  </div>

</div>


