
<div fxLayout="row" 
  fxLayout.xs="column" 
  fxFlexFill
  fxFlex="auto">

  <div>
    <div *ngIf="pagination.totalItems > (pagination.currentPage * pagination.itemsPerPage)">
      <pagination [pagination]="pagination" (pageChange)="changePage($event)"></pagination>
    </div>

    <mat-progress-spinner
      *ngIf="loading"
      [color]="'accent'"
      [mode]="'indeterminate'">
    </mat-progress-spinner>

    <mat-accordion *ngIf="!loading">
      <mat-expansion-panel *ngFor="let fish of fishList"
                           [expanded]="fish.SpecCode === openedFishSpecCode"
                           (opened)="this.toggleFishOpen(fish)"
                           (closed)="this.toggleFishClose(fish)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{fish.Genus}} {{fish.Species}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <fish-info [fish]="fish"></fish-info>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>


