@import './../../../../variables.scss';

.fish-info {

  .fish-image {
    width: 200px;
    max-height: 200px;

    @media screen and (max-width: $flex-fx-screen-sm-min){
      width: 300px;
    }
    
  }

  .comments {
    margin-top: $margin;
    font-size: 12px;
    line-height: 15px;
    font-weight: $font-weight-book;
  }
}
